mineru[core]>=2.0.0
poppler-utils
google-genai
streamlit
chromadb
tiktoken
langchain
langchain-community
langchain-openai
langchain-groq
python-dotenv
langchain-ollama
rank_bm25
httpx
python-pptx
gradio
pymupdf
pdf2image
Pillow
torch
transformers
huggingface-hub 